[Unit]
Description=Lock the screen automatically after a timeout
After=network.target

[Service]
Type=simple
User=USERNAME
Environment=DISPLAY=:0
ExecStart=/usr/bin/xss-lock /usr/bin/i3lock-fancy-rapid 5 3
Restart=always

[Install]
WantedBy=multi-user.target
