[Desktop Entry]
Type=XSession
Exec=/usr/local/bin/i3plasma.sh
DesktopNames=KDE
Name=i3plasma
Name[ar]=بلازما
Name[ast]=i3plasma
Name[az]=i3plasma
Name[bs]=Plazma
Name[ca]=i3plasma
Name[ca@valencia]=i3plasma
Name[cs]=i3plasma
Name[da]=i3plasma
Name[de]=i3plasma
Name[el]=i3plasma
Name[en_GB]=i3plasma
Name[es]=i3plasma
Name[et]=i3plasma
Name[eu]=i3plasma
Name[fi]=i3plasma
Name[fr]=i3plasma
Name[gl]=i3plasma
Name[he]=פלזמה
Name[hu]=i3plasma
Name[ia]=i3plasma
Name[id]=i3plasma
Name[is]=i3plasma
Name[it]=i3plasma
Name[ja]=i3plasma
Name[ko]=i3plasma
Name[lt]=i3plasma
Name[lv]=i3plasma
Name[nb]=i3plasma
Name[nds]=i3plasma
Name[nl]=i3plasma
Name[nn]=i3plasma
Name[pa]=ਪਲਾਜ਼ਮਾ
Name[pl]=Plazma
Name[pt]=i3plasma
Name[pt_BR]=i3plasma
Name[ro]=i3plasma
Name[ru]=i3plasma
Name[sk]=i3plasma
Name[sl]=i3plasma
Name[sr]=Плазма
Name[sr@ijekavian]=Плазма
Name[sr@ijekavianlatin]=i3plasma
Name[sr@latin]=i3plasma
Name[sv]=i3plasma
Name[tg]=Плазма
Name[tr]=Plama
Name[uk]=Плазма
Name[vi]=i3plasma
Name[x-test]=xxi3plasmaxx
Name[zh_CN]=i3plasma
Name[zh_TW]=i3plasma
Comment=i3plasma by KDE
Comment[ar]=بلازما كدي
Comment[ast]=i3plasma por KDE
Comment[az]=KDE i3plasma
Comment[bs]=Plazma od strane KDe
Comment[ca]=i3plasma, creat per la comunitat KDE
Comment[ca@valencia]=i3plasma, creat per la comunitat KDE
Comment[cs]=i3plasma z KDE
Comment[da]=i3plasma fra KDE
Comment[de]=i3plasma von KDE
Comment[el]=i3plasma από το KDE
Comment[en_GB]=i3plasma by KDE
Comment[es]=i3plasma, por KDE
Comment[et]=KDE i3plasma
Comment[eu]=KDEren i3plasma
Comment[fi]=i3plasma KDE:ltä
Comment[fr]=i3plasma, par KDE
Comment[gl]=i3plasma, fornecido por KDE.
Comment[he]=פלזמה באמצעות KDE
Comment[hu]=i3plasma a KDE-től
Comment[ia]=i3plasma per KDE
Comment[id]=i3plasma oleh KDE
Comment[is]=i3plasma frá KDE
Comment[it]=i3plasma di KDE
Comment[ja]=i3plasma by KDE
Comment[ko]=KDE i3plasma
Comment[lt]=i3plasma pagal KDE
Comment[nb]=i3plasma av KDE
Comment[nds]=i3plasma vun KDE
Comment[nl]=i3plasma door KDE
Comment[nn]=i3plasma frå KDE
Comment[pa]=KDE ਵਲੋਂ ਪਲਾਜ਼ਮਾ
Comment[pl]=Plazma dzięki KDE
Comment[pt]=i3plasma do KDE
Comment[pt_BR]=i3plasma do KDE
Comment[ro]=i3plasma, de către KDE
Comment[ru]=KDE i3plasma
Comment[sk]=i3plasma od KDE
Comment[sl]=KDE i3plasma
Comment[sr]=Плазма од КДЕ‑а
Comment[sr@ijekavian]=Плазма од КДЕ‑а
Comment[sr@ijekavianlatin]=i3plasma od KDE‑a
Comment[sr@latin]=i3plasma od KDE‑a
Comment[sv]=i3plasma av KDE
Comment[tr]=KDE i3plasma
Comment[uk]=Плазма KDE
Comment[vi]=i3plasma, do KDE
Comment[x-test]=xxi3plasma by KDExx
Comment[zh_CN]=KDE i3plasma
Comment[zh_TW]=i3plasma by KDE
X-KDE-PluginInfo-Version=5.20.5
