[Unit]
Description=Lock the screen automatically after a timeout

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/xss-lock -- /usr/bin/i3lock -n -i /usr/share/pixmaps/screenlock.png -c 000000
Restart=always

[Install]
WantedBy=graphical.target
